<!DOCTYPE html>
<html>
  <script src='http://127.0.0.1:9001/js/socket.js'></script>


    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/flashcard.css">
    </head>
    <body>
    <!-- <datalist id="cards"> -->
    <!--     <option value="AR Verbs"> -->
    <!--     <option value="ER Verbs">  -->
    <!-- </datalist> -->
    <!-- <div id="divButtons"> -->
    <!--     <input id="inputCards" type="text" list="cards" onkeypress="return searchKeyPress(event);"> -->
    <!--     <button id="buttonChangeCardSet" type="button" onClick="changeCardSet()"> -->
    <!--         Change Card Set -->
    <!--     </button> -->
    <!-- </div> -->
    <div id="box">
        <span class="top" id="top-left" onclick="togglePicture()">
            Toggle Picture (P)
        </span>
        <span class="top" id="top-middle" onclick="toggleShuffle()">
            Shuffle (S)
        </span>
        <span class="top" id="top-right" onclick="toggleLanguage()">
            Toggle Language (L)
        </span>
        <div class="middle" >
            <span id="word">
                Span Text
            </span>
        </div>
        <span class="bottom" id="bottom-left" onclick="prevWord()">
            Prev (J)
        </span>
        <span class="bottom" id="bottom-right" onclick="nextWord()">
            Next (K)
        </span>
    </div>
    </body>
    <script  src="/javascripts/flashcard.js"></script>
</html>
