<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/flashcard.css">
    </head>
    <body>
    <datalist id="cards">
        <option value="AR Verbs">
        <option value="ER Verbs"> 
    </datalist>
    <input id="inputCards" type="text" list="cards" onkeypress="return searchKeyPress(event);">
    <button id="buttonChangeCardSet" type="button" onClick="changeCardSet()">
        Change Card Set
    </button>
    <div id="divCard">

       <span id="word">
            DEFAULT VALUE
        </span>
    </div>
    <button type="button" onclick="prevWord()">
        Previous Word (J)
    </button>
    <button id="buttonShuffle" type="button" onclick="toggleShuffle()">
        Shuffle: OFF
    </button>
    <button type="button" onclick="togglePicture()">
        Toggle Picture (P)
    </button>
    <button type="button" onclick="toggleLanguage()">
        Toggle Language (L)
    </button>
    <button type="button" onclick="nextWord()">
        Next Word (K)
    </button>
    </body>
    <script  src="/javascripts/flashcard.js"></script>
</html>
