<!DOCTYPE html>
<html>
  <script src='http://127.0.0.1:9001/js/socket.js'></script>


    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/flashcard.css">
    </head>
    <body>

    <datalist id="cards">
        <option value="AR_VERBS">
        <option value="ER_VERBS"> 
    </datalist>
    <div id="divButtons">
        <input id="inputCards" type="text" list="cards" onkeypress="return searchKeyPress(event);">
        <button id="buttonChangeCardSet" type="button" onClick="changeCardSet()">
            Change Card Set
        </button>
    </div>

    <div id="box">
        <a class="top" id="top-left" onclick="togglePictureAndInvertColor(this)">
            Toggle Picture (P)
        </a>
        <a class="top" id="top-middle" onclick="toggleShuffleAndInvertColor(this)">
            Shuffle: OFF (S)
        </a>
        <a class="top" id="top-right" onclick="toggleLanguageAndInvertColor(this)">
            Toggle Language (L)
        </a>
        <div class="middle" >
            <a id="word">
                Span Text
            </a>
        </div>
        <a class="bottom" id="bottom-left" onclick="prevWord()">
            Prev (J)
        </a>
        <a class="bottom" id="bottom-right" onclick="nextWord()">
            Next (K)
        </a>
    </div>
    </body>
    <script  src="/javascripts/flashcard.js"></script>
</html>
