body {
    /* background: #00CCFF */

    /* Centers the background */
    background: url('../images/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div > span > img {
    height: 125px;
}
/* #divContainer { */
/*     height: 125px; */
/*     background: red; */
/* } */
#divCard{
    float: right;
    height: 125px;
    display: table;
    background: #00CCFF;
    width: 100%;
}
/* div > span { */
#word{
    
    // Center will work only for one line text blocks
    background-color: rgb(255, 0, 0);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
