div > span > img {
    height: 125px;
}
/* #divContainer { */
/*     height: 125px; */
/*     background: red; */
/* } */
#divCard{
    float: right;
    height: 125px;
    display: table;
    background: pink;
    width: 100%;
}
/* div > span { */
#word{
    
    // Center will work only for one line text blocks
    background-color: rgb(255, 0, 0);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
